body, html {
    padding: 0;
    background-color: rgb(26, 26, 26);
}
.tile {
    width: 70px;
    position: absolute;
    cursor: pointer;
    pointer-events:fill;
    z-index: 1;
}
.game {
    width: 910px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#container {
    display: flex;
    
}
.bee {
    width: 35px;
    position: absolute;
    z-index: 2;
}